[Unit]
Description=Listing Service
After=network.target

[Service]
User=root
Group=www-data
WorkingDirectory=/root/wireguard/config
ExecStart=python3 /home/wireguard-up/server/listing.py

[Install]
WantedBy=multi-user.target  